{% extends 'base.html' %} {% load static%} {% block content %}{% load has_group %}
{% load i18n %}{% block extra_css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
    .form-row {
        margin: 50px;
    }
    
    table {
        padding: 10px;
    }
    #formdiv{
        float: left;  

    }
    #picimage{
       padding-left: 0px; 
    }
</style>
{% endblock %}

<div class="container mb-5 text-center">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
    
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" class="post-form " action="/buildupdate/{{data.osm_id}}" style="margin-top: 30px;">
        {% csrf_token %}


        <div>
            <!-- <label class="col-sm-1 col-form-label"></label> -->
            <div>
                <h3>{% trans "Update Details for Region/Building" %}</h3><hr><br>
            </div>
        </div>
        <div class ="table-responsive">
            <table class="table-primary table-striped table-bordered text-md-start"> 
                <!-- <tr><td>{% trans "OSM ID" %} </td> <td><input type="text" name="osm_id" id="id_osm_id" required value="{{ data.osm_id }}" disabled =True /></td></tr> -->
                <tr><td>{% trans "Region" %} </td> <td><input type="text" name="region" id="id_region" value="{{ data.region }}" /></td></tr>
                <tr><td>{% trans "Ward" %} </td> <td><input type="text" name="ward" id="id_ward" value="{{ data.ward }}" /></td></tr>
                <tr><td>{% trans "Building Type" %} </td> <td><input type="text" name="building_category" id="id_building_category" value="{{ data.building_category }}" /></td></tr>
                <tr><td>{% trans "Building Name" %} </td> <td><input type="text" name="building_name" id="id_building_name" value="{{ data.building_name }}" /></td></tr>
                <tr><td>{% trans "Building Cluster Name" %} </td> <td><input type="text" name="building_cluster" id="id_building_cluster" value="{{ data.building_cluster }}"/></td></tr>
                <tr><td>{% trans "No. of Wings in Building Cluster" %} </td> <td><input type="text" name="num_wings_buildingcluster" id="id_num_wings_buildingcluster" value="{{ data.num_wings_buildingcluster }}"/></td></tr>
                <tr><td>{% trans "Wing" %} </td> <td><input type="text" name="wing_name" id="id_wing_name" value="{{ data.wing }}" /></td></tr>
                <tr><td>{% trans "Number of flats" %} </td> <td><input type="text" name="num_flats_building" id="id_num_flats_building" value="{{ data.num_flats_building }}" /></td></tr>
                <tr><td>{% trans "Number of shops" %} </td> <td><input type="text" name="num_shops_building" id="id_num_shops_building"      value="{{ data.num_shops_building }}" /></td></tr>
                <tr><td>{% trans "Building Population" %} </td> <td><input type="text" name="building_population" id="id_building_population" value="{{ data.building_population }}"/></td></tr>
                <tr><td>{% trans "Building Photo" %} </td> <td><img id ='id_picture' src ='{{ data.picture.url }}' style="height:20px; width:200px; border:2px solid #555;"/></td></tr>
                <!-- {% if request.user|has_group:"Editor" %} -->
                <tr><td colspan =2 ><centre><a href ="">Upload Building Image</a></centre></td></tr>
                <!-- {% endif %} -->
            </centre>
            </table>
        </form>
            <br>
        </div>
        <div>
            <label class="col-sm-1 col-form-label"></label>
            <div id = "picimage" >{{ data.picture.url }}
                <!-- {% for i in diary %} -->
                    <!-- {{ i.date}} -->
                    <img id ='testimg' src ='{{ data.picture.url }}' style="height:400px; width:550px; border:2px solid #555;"/>
                <!-- {% endfor %} -->
                </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">{% trans "Update" %}</button>
            </div>
        </div> 
    </form>
</div>
<script>
    // console.log("{{ data.zone_id_id }}")
</script>
{% endblock %}